
.form-bg1 {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 900px;
    height: 750px;
    margin-left: 14%;
    box-shadow: 0 0 5px #E0E0F0;
    float: center;
    background-color: #F2F2FA;
}


.form-bg2 {
    margin-left: 15px;
    padding-top: 20px;
}