footer {
    padding: 15px 0;
    text-align:center;
    color: white;
    height: 50px;
    bottom: 0;
}

input[type='text'], input[type='password'] {
    border-width: 0 0 2px 0;
    border-color: #000080;
    border-style: dotted;
}

th {
    font-weight: bold;
    text-align: left;
}

th, td {
    padding-right: 20px;
    color: black;
}
/*
.action-bar {
   // margin: 10px;
    border-width: 1px 0 1px 0;
    border-color: #c0c0c0;
    border-style: solid;
    background-color: #f0f0f0;
}

.action-bar p {
    margin: 0;
}
*/
.topbar{
    margin: 150px 0px -5px;
}

fieldset {
    max-width: 400px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #606060;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: #f0f0f0;
    text-decoration: none;
    font-size: small;
    padding: 5px 15px 5px;
}

nav a:hover {
    text-decoration: none;
    color: #7EEFE6;
}


.appmenu {
    margin-right: 20px;
}

.navbar-xs { 
    min-height:28px; 
    height: 32px; 
}


.glyphicon.glyphicon-info-sign{
    font-size: 18px;
}

.glyphicon.glyphicon-menu-hamburger{
    font-size: 18px;
}

.img{
    height: 26px;
    width: 26px;
}


.img:hover{
    height: 60px;
    width: 60px;
}

.confirm_del{
    position: absolute;
    top: -100px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 450px;
    height: 200px;
    box-shadow: 0 0 15px #006994;
    border-radius: 20px;
}


.txt1{
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
}

.txt2{
    margin: 15px 165px 0px;
    color: #006994;
}

.btn2 {
    margin-top: 20px;
    margin-left: 20px;
}

.btn3 {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}