header {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000080;
    color: #ffff00;
    border-radius: 10px;
    text-align: center;
    height:30px;
}

footer {
    padding: 20px 0;
    text-align:center;
}

input[type='text'], input[type='password'] {
    border-width: 0 0 2px 0;
    border-color: #000080;
    border-style: dotted;
}
