
footer {
    padding: 15px 0;
    text-align:center;
    color: white;
    height: 50px;
    bottom: 0;
}

input[type='text'], input[type='password'] {
    border-width: 0 0 2px 0;
    border-color: #000080;
    border-style: dotted;
}

th {
    font-weight: bold;
    text-align: left;
}

th, td {
    padding-right: 20px;
    color: black;
}

.action-bar {
    margin: 10px;
    border-width: 1px 0 1px 0;
    border-color: #c0c0c0;
    border-style: solid;
    background-color: #f0f0f0;
}

.action-bar p {
    margin: 0;
}

fieldset {
    max-width: 400px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #606060;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: #f0f0f0;
    text-decoration: none;
    font-size: small;
   // text-align: center;
    padding: 15px 15px ;
}

nav a:hover {
   /* text-decoration: none;
    color: #7EEFE6;*/
}

.container-fluid{
  //  padding: 0px;
  //  height: 10px;
}

.appmenu {
    margin-right: 20px;
}

.navbar-xs { 
    min-height:28px; 
    height: 32px; 
}


.glyphicon.glyphicon-info-sign{
    font-size: 18px;
}

.glyphicon.glyphicon-menu-hamburger{
    font-size: 18px;
}

.img{
    height: 26px;
    width: 26px;
}


.img:hover{
    height: 60px;
    width: 60px;
}