.row{
    margin-left: 10px;
}

.col-md-2{
    margin-left: -12px;
    width: 178px;
}

.app{
 font-weight: bold;
}

.dashboard{
  margin: 10px 0px 40px;
}

.text-center > span{
    color: black;
}

.app-1, .glyphicon.glyphicon-briefcase {
 padding: 4px 24px 0px;
 background-color: #428bca;
 font-size: 50px;
 color: white;
}

.app-2, .glyphicon.glyphicon-grain {
 padding: 4px 24px 0px;
 background-color: #5cb85c;
 font-size: 50px;
 color: white;
}

.app-3, .glyphicon.glyphicon-indent-left {
 padding: 4px 24px 0px;
 background-color: #5bc0de;
 font-size: 50px;
 color: white;
}

.app-4, .glyphicon.glyphicon-list {
 padding: 4px 24px 0px;
 background-color: #d9534f;
 font-size: 50px;
 color: white;
}

.app-5, .glyphicon.glyphicon-user {
 padding: 4px 24px 0px;
 background-color: olive; //#F7DC6F;
 font-size: 50px;
 color: #F8F9F9;
}

.app-6, .glyphicon.glyphicon-shopping-cart{
 padding: 4px 24px 0px;
 background-color: maroon; //#ABEBC6;
 font-size: 50px;
 color: #F8F9F9;
}

.app-7, .glyphicon.glyphicon-print{
 padding: 4px 24px 0px;
 background-color: teal;
 font-size: 50px;
 color: #F2F4F4;
}

.app-8, .glyphicon.glyphicon-pawn{
 padding: 4px 24px 0px;
 background-color: #85929E;
 font-size: 50px;
 color: white;
}

.app-9, .glyphicon.glyphicon-envelop{
 padding: 4px 48px 0px;
 background-color: #45B39D;
 font-size: 50px;
 color: #F2F4F4;
}

.app-10, .glyphicon.glyphicon-wrench{
 padding: 4px 24px 0px;
 background-color: #E74D32;
 font-size: 50px;
 color: #F2F4F4;
}
