.ph1 {
 padding-left: 110px;
 background-color: #428bca;
}

.ph2 {
 padding-left: 110px;
 background-color: #5cb85c;
}

.ph3 {
 padding-left: 110px;
 background-color: #5bc0de;
}

.ph4 {
 padding-left: 110px;
 background-color: #d9534f;
}


.pull-middle{
 padding: 0px 90px 0px;
 color: black;
}

.middle{
    padding: 0px 80px 0px;
    color: black;
}

.mid{
    padding: 0px 60px 0px;
    color: black;
}

.glyphicon.glyphicon-briefcase {
    font-size: 50px;
    color: white;
}

.glyphicon.glyphicon-grain{
    font-size: 50px;
    color: white;
}

.glyphicon.glyphicon-indent-left{
    font-size: 50px;
    color: white;
}

.glyphicon.glyphicon-list{
    font-size: 50px;
    color: white;
}

.app{
 font-weight: bold;
}

.dashboard{
  margin: 10px 0px 60px;
}
