.login-container {
    margin-top: 120px;
    margin-bottom: 80px;
    border: 1px solid #6F7D94;
    width: 35%;
    height: 60%;
    margin-left: 32%;
    box-shadow: 0 0 15px #6F7D94;
    border-radius: 30px;
    background-color: #5bc0de;
    float: center;
}

div#label {
    text-align: left;
    color: white;
    padding: 10px 50px 10px;
}

div#submit {
    padding: 25px 50px 10px;
    float: right;
}

h5 {
    text-align: center;
}

div#passwd {
    padding: 70px 50px 10px;
    color: white;
}

div#title {
    text-align: center;
    color: white;
    padding: 10px 60px 15px;
}

.errormsg {
    text-align: center;
}

p a{
    color: white;
}
