.login-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    margin: auto; 
    border: 1px solid #6F7D94;
    max-width: 430px;
    min-width: 380px;
    height: 300px;
    box-shadow: 0 0 15px #6F7D94;
    border-radius: 30px;
    background-color: #5bc0de;
}

div#label {
    text-align: left;
    color: white;
    padding: 10px 50px 10px;
}

div#submit {
    padding: 25px 50px 10px;
    float: right;
}

h5 {
    text-align: center;
}

div#passwd {
    padding: 80px 50px 0px;
    color: white;
}

div#title {
    text-align: center;
    color: white;
    padding: 0px 0px 15px;
}

.errormsg {
    text-align: center;
}

p a{
    color: white;
}
