.login-container{
margin-top: 100px;
//padding-left: 40%;
border:1px solid #6F7D94;
width:35%;
height:50%;
//padding:0 50px 15px;
margin-left:32%;
box-shadow:0 0 15px #6F7D94;
border-radius:30px;
float:center;
background-color: white;
}

div#label{
text-align:left;
padding:10px 50px 10px;
//float:center;
}


div#submit{
padding:25px 50px 10px;
//padding-left: 42%;
//width:80px;
//float:center;
//border:1px solid #ccc;
}




h5{
text-align:center;
//padding:0px 10px 0px;
}

div#passwd{
padding:25px 50px 10px;
//text-align:center;
}

div#title {
text-align:center;
color: blue;
padding:10px 60px 15px;
}

.errormsg{
text-align:center;
}