
.productbase {
  position: absolute;
  top: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 40px;
  max-width: 900px;
  min-width: 500px;
//  min-height: 150px;
}

.product-header{
 font-size: x-large;
 font-weight: bold;
 color: #006994;
 margin-bottom: 15px;
}

.add-product, .glyphicon.glyphicon-plus{
 background-color: #006994;
 border-radius: 5px; 
 color: white; 
 font-size: large;
 font-weight: bold;
 padding: 5px 5px 5px;
 margin-bottom: 15px;
}

.add-product:hover{
  color: white;
}

table {
  width: 100%;
}

table, td {
  text-align: center;
}

tr:nth-child(odd) {
  background-color: rgba(102,153,204,0.5); //#6699cc;
}

th {
  border: 2px solid white;
  text-align: center;
  background-color: #3399ff;
}



.btn{
    margin: 40px 0px 5px;
    float: right;
}


.nav-pills{
background-color: white //#C8D3DB;
}
 
.nav-pills > li > a{
border-radius: 5px;
background-color: white; 
color: black; 
border: 1px solid #5bc0de;
}
 
.nav-pills > li > a:hover{
background-color: #3D515F;
border-radius: 5px; 
color: #fff; 
border: 1px solid black;
}
 

/* Add Product .css */
.form-container{
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-top: 100px;
    max-width: 100%; 
    min-width: 900px;
    max-height: 100% ; 
    background-color: #8f8f8f;
}

@media (max-width: 800px){
  .form-container{
    margin-top: 130px;
  }

  .productbase {
    margin-top: 30px;
  }

}

 .form-bg1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 1000px;
    min-width: 600px;
    max-height: 68%;
    min-height: 65%; 
    box-shadow: 0 0 5px #E0E0F0;
    background-color: white;
}


.form-bg2 {
    margin-left: 10px;
    padding-top: 15px;
}

.col-lg-4{
    padding-bottom: 12px;
}

.textfieldsize{
    padding-left: 15px;
    width: 950px;
}
