{% extends "app_base.html" %}

{% block content %}
<p><b>Customer:</b> {{ sales_order.customer }}</p>
<p><b>Order Date:</b> {{ sales_order.order_date }}</p>
<p><b>Payment Term:</b> {{ sales_order.payment_term }}</p>
<p><b>Total Price:</b> {{ sales_order.total_price }}</p>
<p><b>Sales Confirmation:</b> {{ sales_order.confirm_sale }}</p>

{% if sales_order.products %}
	<ul>
	{% for product in sales_order.products.all %}
		<li> {{ product.name }} </li>
	{% empty %}
		No products
	{% endfor %}
	</ul>
{% else %}

Nothing HERE

{% endif %}


<p>{{ sales_order.note | safe }}</p>

{% if sales_order.confirm_sale == "Quotation" %}

	<p>Want to confirm this sale?</p>

	<form method="post" action="">
	{% csrf_token %}

	<input type="submit" value="Yes" name="confirm_sale">
	<input type="submit" value="No" name="cancel">
	</form>

{% endif %}

{% endblock %}

{% block action_bottom %}
<p><a href="{% url 'sales-order-list' %}">Back to list</a></p>
{% endblock %}
