{% extends "sales/sales_base.html" %}
{% load crispy_forms_tags %}
{% crispy sales_order_form sales_order_form.helper %}
{% crispy salesorderline_form salesorderline_form.helper %}

{% load static %}


{% block content %}
<div class="form-container">
<div class="form-bg1">
  <div class="form-bg2">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{form}}


        {{ salesorderline_form.management_form|crispy }}
        {{ salesorderline_form.non_form_errors }}
        {% for form2 in salesorderline_form %}

            <div class="inline">
            	{{ form2.product.label_tag }}
    	        {{ form2.product }}

    	        {{ form2.description.label_tag }}
    	        {{ form2.description }}

    	        {{ form2.quantity.label_tag }}
    	        {{ form2.quantity }}

                {{ form2.unit_price.label_tag }}
                {{ form2.unit_price }}

                {{ form2.unit_of_measurement.label_tag }}
                {{ form2.unit_of_measurement }}

                {{ form2.discount.label_tag }}
                {{ form2.discount }}
        	</div>
        {% endfor %}
        <input type="submit" value="Add"/>
    </form>

  </div>
</div>
</div>



{% endblock %}
