{% extends "app_base.html" %}
{% load bootstrap3 %}

{% block content %}
  <h2>Products</h2>

    {% for product in products %}
      {% if forloop.first %}
        <table>
          <tr>
            <th>Product name</th>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
      {% endif %}

      <tr>
        <td><a href="{% url 'product-detail' product.id %}">{{ product.name }}</a></td>
        <td>{{ product.category }}</td>
        <td><a href="{% url 'product-update' product.id %}">{% bootstrap_icon 'pencil' %}</a></td>
        <td><a href="{% url 'product-delete' product.id %}">{% bootstrap_icon 'minus' %}</a></td>
      </tr>

      {% if forloop.last %}
        </table>
      {% endif %}
    {% endfor %}
{% endblock %}

{% block action_top %}
<p><a href="{% url 'product-add' %}">{% bootstrap_icon 'plus' %}</a></p>
{% endblock %}

{% block action_bottom %}
<p><a href="{% url 'product-add' %}">{% bootstrap_icon 'plus' %}</a></p>
{% endblock %}
