{% extends "app_base.html" %}

{% block content %}

<div class="confirm_del">
  <p class="txt1">You are about to delete the following product</p>
  <ol>
    <li class="txt2">{{ product.name }}</li>
  </ol>

  <p  class="txt1">Are you sure?</p>

  <form method="post" action="">
    {% csrf_token %}

    <input type="submit" value="Yes" name="confirm_delete" class="btn btn-danger btn2">
    <input type="submit" value="No" name="cancel" class="btn btn-success btn3">
  </form>
  </div>
{% endblock %}
