{% extends "app_base.html" %}

{% block content %}
  <h2>Units of Measurement</h2>

  {% for uom in uoms %}
    {% if forloop.first %}
      <table>
    {% endif %}

    <tr>
      <td><a href="{% url 'uom-detail' uom.id %}">{{ uom.unit }}</a></td>
      <td><a href="{% url 'uom-update' uom.id %}">edit</a></td>
      <td><a href="#">delete</a></td>
    </tr>

    {% if forloop.last %}
      </table>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block action_bottom %}
  <p><a href="{% url 'uom-add' %}">Add Unit of Measurement</a></p>
{% endblock %}
