{% extends "app_base.html" %}
{% load bootstrap3 %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block body %}
<nav class="navbar navbar-default dashboard">
<h3 class="app">Applications</h3>
</nav>


<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
     <div class="panel-heading">
      {% bootstrap_icon 'briefcase' %}
     </div>
        <a href="{% url 'product-list' %}">
         <div class="panel-footer">
          <span class="pull-middle">Products</span>
           <div class="clearfix"></div>
         </div>
        </a>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="panel panel-success">
     <div class="panel-heading">
      {% bootstrap_icon 'grain' %}
     </div>
        <a href="{% url 'supplier-list' %}">
         <div class="panel-footer">
          <span class="pull-middle">Suppliers</span>
           <div class="clearfix"></div>
         </div>
        </a>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="panel panel-info">
     <div class="panel-heading">
      {% bootstrap_icon 'indent-left' %}
     </div>
        <a href="#">
         <div class="panel-footer">
          <span class="middle">Run Reports</span>
           <div class="clearfix"></div>
         </div>
        </a>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="panel panel-danger">
     <div class="panel-heading">
      {% bootstrap_icon 'list' %}
     </div>
        <a href="#">
         <div class="panel-footer">
          <span class="mid">Manage Inventory</span>
           <div class="clearfix"></div>
         </div>
        </a>
    </div>
  </div>
</div>


{% endblock %}
