{% extends "app_base.html" %}
{% load bootstrap3 %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link href="../../../static/css/style.css" rel="stylesheet" type="text/css">
    <link href="../../../STATIC_ROOT/metisMenu/metisMenu.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<div class="row ">
<span><img src="../../../static/img/logo2.jpg" id="header-logo"/></span>
<h1 class="page-header" id="header-text">Applications</h1>
</div>


<div class="row">
  <div class="col-xs-4 col-md-2">
    <div class="panel panel-info">
    <a href="{% url 'product-list' %}">
     <div class="panel-heading app-1">
      {% bootstrap_icon 'briefcase' %}
     </div>
       <div class="panel-footer text-center">
        <span>Products</span>
        <div class="clearfix"></div>
       </div>
    </a>
    </div>
  </div>

  <div class="col-xs-4 col-md-2">
    <div class="panel panel-info">
    <a href="{% url 'supplier-list' %}">
     <div class="panel-heading app-2">
      {% bootstrap_icon 'grain' %}
     </div>
     <div class="panel-footer text-center">
      <span>Suppliers</span>
      <div class="clearfix"></div>
     </div>
    </a>
    </div>
  </div>

  <div class="col-xs-4 col-md-2">
    <div class="panel panel-info">
    <a href="#">
     <div class="panel-heading app-3">
      {% bootstrap_icon 'indent-left' %}
     </div>     
         <div class="panel-footer text-center">
          <span>Run Reports</span>
           <div class="clearfix"></div>
         </div>
        </a>
    </div>
  </div>

  <div class="col-xs-4 col-md-2">
    <div class="panel panel-info">
    <a href="#">
     <div class="panel-heading app-4">
      {% bootstrap_icon 'list' %}
     </div>      
      <div class="panel-footer text-center">
       <span>Manage Inventory</span>
       <div class="clearfix"></div>
      </div>
    </a>
    </div>
  </div>

  <div class="col-xs-4 col-md-2">
    <div class="panel panel-info">
    <a href="#">
     <div class="panel-heading app-5">
      <span><i class="glyphicon glyphicon-user app-5"></i></span>
     </div>      
      <div class="panel-footer text-center">
       <span>Manage Account</span>
       <div class="clearfix"></div>
      </div>
    </a>
    </div>
</div>
</div>


<div class="row">
  <div class="col-xs-4 col-md-2">
    <div class="panel panel-info">
    <a href="{% url 'product-list' %}">
     <div class="panel-heading app-6">
      {% bootstrap_icon 'shopping-cart' %}
     </div>
       <div class="panel-footer text-center">
        <span>Sales Order</span>
        <div class="clearfix"></div>
       </div>
    </a>
    </div>
  </div>

  <div class="col-xs-4 col-md-2">
    <div class="panel panel-info">
    <a href="{% url 'supplier-list' %}">
     <div class="panel-heading app-7">
      {% bootstrap_icon 'print' %}
     </div>
     <div class="panel-footer text-center">
      <span>Invoice</span>
      <div class="clearfix"></div>
     </div>
    </a>
    </div>
  </div>

  <div class="col-xs-4 col-md-2">
    <div class="panel panel-info">
    <a href="#">
     <div class="panel-heading app-8">
      {% bootstrap_icon 'pawn' %}
     </div>     
         <div class="panel-footer text-center">
          <span>HR</span>
           <div class="clearfix"></div>
         </div>
        </a>
    </div>
  </div>

  <div class="col-xs-4 col-md-2">
    <div class="panel panel-info">
    <a href="#">
     <div class="panel-heading app-9">
      {% bootstrap_icon 'envelope' %}
     </div>      
      <div class="panel-footer text-center">
       <span>Contacts</span>
       <div class="clearfix"></div>
      </div>
    </a>
    </div>
  </div>

  <div class="col-xs-4 col-md-2">
    <div class="panel panel-info">
    <a href="#">
     <div class="panel-heading app-10">
      {% bootstrap_icon 'wrench' %}
     </div>      
      <div class="panel-footer text-center">
       <span>Settings</span>
       <div class="clearfix"></div>
      </div>
    </a>
    </div>
</div>
</div>

{% endblock %}
