{% extends "app_base.html" %}
{% load bootstrap3 %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block body %}
<nav class="navbar navbar-default dashboard">
<h3 class="app">Applications</h3>
</nav>


<div class="row">
  <div class="col-xs-4 col-md-2">
    <div class="panel panel-info">
    <a href="{% url 'product-list' %}">
     <div class="panel-body app-1">
      {% bootstrap_icon 'briefcase' %}
     </div>
       <div class="panel-footer text-center">
        <span>Products</span>
        <div class="clearfix"></div>
       </div>
    </a>
    </div>
  </div>

  <div class="col-xs-4 col-md-2">
    <div class="panel panel-info">
    <a href="{% url 'supplier-list' %}">
     <div class="panel-body app-2">
      {% bootstrap_icon 'grain' %}
     </div>
     <div class="panel-footer text-center">
      <span>Suppliers</span>
      <div class="clearfix"></div>
     </div>
    </a>
    </div>
  </div>

  <div class="col-xs-4 col-md-2">
    <div class="panel panel-info">
    <a href="#">
     <div class="panel-body app-3">
      {% bootstrap_icon 'indent-left' %}
     </div>     
         <div class="panel-footer text-center">
          <span>Run Reports</span>
           <div class="clearfix"></div>
         </div>
        </a>
    </div>
  </div>

  <div class="col-xs-4 col-md-2">
    <div class="panel panel-info">
    <a href="#">
     <div class="panel-body app-4">
      {% bootstrap_icon 'list' %}
     </div>      
      <div class="panel-footer text-center">
       <span>Manage Inventory</span>
       <div class="clearfix"></div>
      </div>
    </a>
    </div>
  </div>

  <div class="col-xs-4 col-md-2">
    <div class="panel panel-info">
    <a href="#">
     <div class="panel-body app-5">
      {% bootstrap_icon 'user' %}
     </div>      
      <div class="panel-footer text-center">
       <span>Manage Account</span>
       <div class="clearfix"></div>
      </div>
    </a>
    </div>
</div>

  <div class="col-xs-4 col-md-2">
    <div class="panel panel-info">
    <a href="#">
     <div class="panel-body app-6">
      {% bootstrap_icon 'shopping-cart' %}
     </div>
       <div class="panel-footer text-center">
        <span>Sales Order</span>
        <div class="clearfix"></div>
       </div>
    </a>
    </div>
  </div>

  <div class="col-xs-4 col-md-2">
    <div class="panel panel-info">
    <a href="#">
     <div class="panel-body app-7">
      {% bootstrap_icon 'print' %}
     </div>
     <div class="panel-footer text-center">
      <span>Invoice</span>
      <div class="clearfix"></div>
     </div>
    </a>
    </div>
  </div>

  <div class="col-xs-4 col-md-2">
    <div class="panel panel-info">
    <a href="#">
     <div class="panel-body app-8">
      {% bootstrap_icon 'pawn' %}
     </div>     
         <div class="panel-footer text-center">
          <span>HR</span>
           <div class="clearfix"></div>
         </div>
        </a>
    </div>
  </div>

  <div class="col-xs-4 col-md-2">
    <div class="panel panel-info">
    <a href="#">
     <div class="panel-body app-9">
      {% bootstrap_icon 'envelope' %}
     </div>      
      <div class="panel-footer text-center">
       <span>Contacts</span>
       <div class="clearfix"></div>
      </div>
    </a>
    </div>
  </div>

  <div class="col-xs-4 col-md-2">
    <div class="panel panel-info">
    <a href="#">
     <div class="panel-body app-10">
      {% bootstrap_icon 'wrench' %}
     </div>      
      <div class="panel-footer text-center">
       <span>Settings</span>
       <div class="clearfix"></div>
      </div>
    </a>
    </div>
</div>
</div>

{% endblock %}
