{# All app templates should inherit from this. #}
{% extends "base.html" %}
{% load bootstrap3 %}

{% block header %}
<nav class="navbar navbar-xs navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <li><a href="">Logo</a></li>
      <div class="pull-right">
        <li><a href="#">{% bootstrap_icon 'info-sign' %}</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle appmenu" data-toggle="dropdown">{% bootstrap_icon 'menu-hamburger' %}
            <span class="caret"></span>
          </a>
 
          <ul class="dropdown-menu">
            <li>
              <a href="{% url 'logout' %}">Logout</a>
              <a href="#">About</a>
              <a href="#">Contact</a>
            </li>
          </ul>
        </li>
      </div>
    </div> 
  </div>      
</nav>
{% endblock %}

{% block navigation %}
<ul>
  {% block appmenu %}{% endblock %}
</ul>

<ul>
  {% block appsubmenu %}{% endblock %}
</ul>
{% endblock %}

{% block body %}

<div class="action-bar">
  {% block action_top %}{% endblock %}
</div>

{% block content %}{% endblock %}

<div class="action-bar">
  {% block action_bottom %}{% endblock %}
</div>
{% endblock %}
