{# base template for all others to inherit #}

{% load static %}

<!doctype html>

<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - Amadaa</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">   
      </head>

    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
  </head>


  <body><div class="base-container">
    <header>

      {% block header %}
      {% endblock %}

    </header>
    

    {% if messages %}
      <div id="message-area">
        <ul class="messages">
          {% for message in messsages %}
            <li{% if message.tags %} class="{{ message.tags}}"{% endif %}>
              {{ message }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}</div>

    {% block body %}{% endblock %}

    <footer>

      Copyright &copy; 2016 The Amadaa Team
    </footer>

      {%block footer %}{% endblock %}
    </footer>

  <body>
</html>
