{# base template for all others to inherit #}

{% load bootstrap3 %}
{% load static %}

<!doctype html>

<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - Amadaa</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">  
    {% block css %}{% endblock %}
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}">
    </script>
    {% block js %}{% endblock %}
  </head>

  <body>
    <div class="base-container">
      <header>
        {% block header %}
        {% endblock %}
      </header>
    
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags}}"{% endif %}>
          Message: {{ message }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    {% block body %}{% endblock %}

    <footer>
      {% block footer %}
      Copyright &copy; 2016 The Amadaa Team
      {% endblock %}
    </footer>
  <body>
</html>
