{# base template for all others to inherit #}

{% load bootstrap3 %}
{% load static %}

<!doctype html>

<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - Amadaa</title>
    {# CSS #}
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %}">
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
    {# Javascript #}
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    {% bootstrap_javascript %}
    {% block js %}{% endblock %}
  </head>

  <body>
      <header>
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="navbar-inner">
            <div class="container-fluid">
              <li><a href="">Amadaa</a></li>
              <div class="pull-right">
                {% if user.is_authenticated %}
                  <li><a>
                    {% block header %}
                    {% endblock %}
                  </a></li>
                  <li class="navbar-text">Welcome, {{ user.username }}</li>
                  <li><a href="">About</a></li>
                  <li><a href="{% url 'logout' %}">Logout</a></li>
                  {% else %}
                  <li><a href="{% url 'login' %}">Login</a></li>
                  {% endif %}
              </div>
            </div>
          </div>
        </nav>
        <nav>
        {% block navigation %}
        {% endblock %}
        </nav> 
      </header>
       
      {% if messages %}
        {% bootstrap_javascript jquery=1 %}
        {% bootstrap_messages %}
      {% endif %}

    <div class="container-fluid">
      {% block body %}{% endblock %}
    </div>


    <footer class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        {% block footer %}
        Copyright &copy; 2016 The Amadaa Team
        {% endblock %}
      </div>
    </footer>
  <body>
</html>
