{% extends "app_base.html" %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/product-base.css' %}">
{% endblock %}


{% block appmenu %}

<ul class="nav nav-pills productbase">
	<li><a href="{% url 'person-list' %}">Persons</a></li>
	<li><a href="{% url 'organization-list' %}">Organizations</a></li>
	<li><a href="{% url 'membership-list' %}">Memberships</a></li>
  	<li><a href="{% url 'phonetype-list' %}">Phone Types</a></li>
  	<li><a href="{% url 'phonenumber-list' %}">Phone Numbers</a></li>
  	<li><a href="{% url 'websitetype-list' %}">Website Types</a></li>
</ul>

{% endblock %}
